# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# GitHub workflows and configuration
.github/**

# Markdown files
*.md

# Build output
.svelte-kit/**
build/**

# Test reports
playwright-report/**
test-results/**

# Environment files
.env*
!.env.example

# Static assets
static/**
