@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--base-1: 240 20% 99.01960784313727%;
		--base-2: 240 19.999999999999943% 98.0392156862745%;
		--base-3: 240 11.111111111111065% 94.70588235294117%;
		--base-4: 240 9.52380952380956% 91.76470588235294%;
		--base-5: 230.00000000000003 10.714285714285722% 89.01960784313725%;
		--base-6: 240 10.144927536231888% 86.47058823529412%;
		--base-7: 233.33333333333337 9.89010989010989% 82.15686274509804%;
		--base-8: 230.7692307692308 10.23622047244095% 75.09803921568627%;
		--base-9: 230.76923076923066 5.936073059360735% 57.05882352941176%;
		--base-10: 226.1538461538462 5.394190871369299% 52.74509803921569%;
		--base-11: 220 5.88235294117647% 40%;
		--base-12: 210 12.5% 12.549019607843137%;
		--accent-1: 189.99999999999997 100% 98.82352941176471%;
		--accent-2: 195.00000000000009 75.00000000000009% 96.86274509803921%;
		--accent-3: 195 87.50000000000004% 93.72549019607843%;
		--accent-4: 194.6341463414634 80.39215686274511% 89.99999999999999%;
		--accent-5: 195.27272727272728 73.33333333333337% 85.29411764705883%;
		--accent-6: 196.76470588235296 65.3846153846154% 79.6078431372549%;
		--accent-7: 197.4418604651163 60.56338028169013% 72.15686274509804%;
		--accent-8: 198.1512605042017 59.79899497487439% 60.98039215686275%;
		--accent-9: 192.92307692307693 98.48484848484848% 74.11764705882354%;
		--accent-10: 193.63636363636365 90.41095890410958% 71.37254901960785%;
		--accent-11: 195.9493670886076 100% 30.980392156862745%;
		--accent-12: 205.26315789473688 49.56521739130436% 22.54901960784314%;
		--background: 240 20% 99.01960784313727%;
		--foreground: 210 12.5% 12.549019607843137%;
		--card: 240 19.999999999999943% 98.0392156862745%;
		--card-foreground: 210 12.5% 12.549019607843137%;
		--popover: 240 20% 99.01960784313727%;
		--popover-foreground: 210 12.5% 12.549019607843137%;
		--primary: 193.63636363636365 90.41095890410958% 71.37254901960785%;
		--primary-foreground: 205.26315789473688 49.56521739130436% 22.54901960784314%;
		--secondary: 240 19.999999999999943% 98.0392156862745%;
		--secondary-foreground: 220 5.88235294117647% 40%;
		--muted: 240 19.999999999999943% 98.0392156862745%;
		--muted-foreground: 220 5.88235294117647% 40%;
		--accent: 193.63636363636365 90.41095890410958% 71.37254901960785%;
		--accent-foreground: 205.26315789473688 49.56521739130436% 22.54901960784314%;
		--destructive: 322.25165562913907 61.1336032388664% 51.56862745098039%;
		--destructive-foreground: 320.2409638554217 69.74789915966385% 23.333333333333332%;
		--border: 240 10.144927536231888% 86.47058823529412%;
		--input: 240 10.144927536231888% 86.47058823529412%;
		--ring: 240 10.144927536231888% 86.47058823529412%;
		--radius: 0.5rem;
	}
	.dark {
		--base-1: 240 5.555555555555555% 7.0588235294117645%;
		--base-2: 220 5.88235294117647% 10%;
		--base-3: 225.00000000000006 5.7142857142857135% 13.725490196078432%;
		--base-4: 210.00000000000003 7.1428571428571415% 16.47058823529412%;
		--base-5: 214.28571428571428 7.0707070707070745% 19.411764705882355%;
		--base-6: 213.33333333333334 7.692307692307694% 22.941176470588236%;
		--base-7: 212.72727272727275 7.586206896551727% 28.431372549019606%;
		--base-8: 212.00000000000003 7.692307692307687% 38.23529411764706%;
		--base-9: 218.57142857142856 6.250000000000003% 43.92156862745098%;
		--base-10: 221.53846153846155 5.1792828685259% 49.21568627450981%;
		--base-11: 215.9999999999999 6.756756756756753% 70.98039215686273%;
		--base-12: 220 9.09090909090906% 93.52941176470588%;
		--accent-1: 216.66666666666666 40.909090909090914% 8.627450980392156%;
		--accent-2: 215.45454545454544 39.28571428571429% 10.980392156862745%;
		--accent-3: 210.63829787234042 58.0246913580247% 15.88235294117647%;
		--accent-4: 208.23529411764707 66.66666666666667% 20%;
		--accent-5: 205.60975609756096 66.12903225806453% 24.313725490196077%;
		--accent-6: 205 64% 29.411764705882355%;
		--accent-7: 202.95652173913044 64.97175141242938% 34.705882352941174%;
		--accent-8: 200.13422818791946 74.87437185929649% 39.01960784313726%;
		--accent-9: 192.92307692307693 98.48484848484848% 74.11764705882354%;
		--accent-10: 191.72413793103448 100% 82.94117647058823%;
		--accent-11: 199.99999999999997 80.3921568627451% 70%;
		--accent-12: 191.8032786885246 100% 88.0392156862745%;
		--background: 240 5.555555555555555% 7.0588235294117645%;
		--foreground: 220 9.09090909090906% 93.52941176470588%;
		--card: 220 5.88235294117647% 10%;
		--card-foreground: 220 9.09090909090906% 93.52941176470588%;
		--popover: 240 5.555555555555555% 7.0588235294117645%;
		--popover-foreground: 220 9.09090909090906% 93.52941176470588%;
		--primary: 191.72413793103448 100% 82.94117647058823%;
		--primary-foreground: 205.26315789473688 49.56521739130436% 22.54901960784314%;
		--secondary: 220 5.88235294117647% 10%;
		--secondary-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
		--muted: 220 5.88235294117647% 10%;
		--muted-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
		--accent: 191.72413793103448 100% 82.94117647058823%;
		--accent-foreground: 205.26315789473688 49.56521739130436% 22.54901960784314%;
		--destructive: 322.97872340425533 68.11594202898551% 59.411764705882355%;
		--destructive-foreground: 325.9090909090909 91.6666666666667% 90.58823529411765%;
		--border: 213.33333333333334 7.692307692307694% 22.941176470588236%;
		--input: 213.33333333333334 7.692307692307694% 22.941176470588236%;
		--ring: 213.33333333333334 7.692307692307694% 22.941176470588236%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
