@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(204 70% 98%);
	--foreground: hsl(204 50% 0%);
	--muted: hsl(204 29% 88%);
	--muted-foreground: hsl(204 4% 33%);
	--popover: hsl(204 70% 98%);
	--popover-foreground: hsl(204 50% 0%);
	--card: hsl(204 70% 97%);
	--card-foreground: hsl(0 0% 0%);
	--border: hsl(220 13% 91%);
	--input: hsl(220 13% 91%);
	--primary: hsl(204 77% 47%);
	--primary-foreground: hsl(0 0% 100%);
	--secondary: hsl(204 9% 91%);
	--secondary-foreground: hsl(204 9% 31%);
	--accent: hsl(204 15% 85%);
	--accent-foreground: hsl(204 15% 25%);
	--destructive: hsl(15 94% 38%);
	--destructive-foreground: hsl(0 0% 100%);
	--ring: hsl(204 77% 47%);
	--chart-1: hsl(204 77% 47%);
	--chart-2: hsl(204 9% 91%);
	--chart-3: hsl(204 15% 85%);
	--chart-4: hsl(204 9% 94%);
	--chart-5: hsl(204 80% 47%);
	--sidebar: hsl(204 29% 88%);
	--sidebar-foreground: hsl(204 50% 0%);
	--sidebar-primary: hsl(204 77% 47%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(204 15% 85%);
	--sidebar-accent-foreground: hsl(204 50% 0%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(204 77% 47%);

	--radius: 0.5rem;
}

.dark {
	--background: hsl(204 50% 0%);
	--foreground: hsl(204 25% 97%);
	--muted: hsl(204 29% 12%);
	--muted-foreground: hsl(204 4% 67%);
	--popover: hsl(204 50% 0%);
	--popover-foreground: hsl(204 25% 97%);
	--card: hsl(0 0% 1%);
	--card-foreground: hsl(204 25% 98%);
	--border: hsl(215 27.9% 16.9%);
	--input: hsl(215 27.9% 16.9%);
	--primary: hsl(204 77% 47%);
	--primary-foreground: hsl(0 0% 100%);
	--secondary: hsl(204 18% 14%);
	--secondary-foreground: hsl(204 18% 74%);
	--accent: hsl(204 25% 19%);
	--accent-foreground: hsl(204 25% 79%);
	--destructive: hsl(15 94% 58%);
	--destructive-foreground: hsl(0 0% 0%);
	--ring: hsl(204 77% 47%);
	--chart-1: hsl(204 77% 47%);
	--chart-2: hsl(204 18% 14%);
	--chart-3: hsl(204 25% 19%);
	--chart-4: hsl(204 18% 17%);
	--chart-5: hsl(204 80% 47%);
	--sidebar: hsl(204 29% 12%);
	--sidebar-foreground: hsl(204 25% 97%);
	--sidebar-primary: hsl(204 77% 47%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(204 25% 19%);
	--sidebar-accent-foreground: hsl(204 25% 97%);
	--sidebar-border: hsl(215 27.9% 16.9%);
	--sidebar-ring: hsl(204 77% 47%);
}

@theme inline {
	/* Radius (for rounded-*) */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-radius: var(--radius);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
